<div>
    <h1>Http Client Module in Working</h1>
    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Completed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of app">
                    <td>
                        <span>{{ todo.UId }}</span>
                    </td>
                    <td>
                        <span>{{ todo.Id }}</span>
                    </td>
                    <td>
                        <span>{{ todo.title }}</span>
                    </td>
                    <td>
                        <span>{{ todo.completed }}</span>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-warning">
              <i class="fa fa-edit"></i>
              Edit
            </button>
                        <button class="btn btn-sm btn-danger">
              <i class="fa fa-remove"> </i>
              Delete
            </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="border">
        <button class="btn btn-md btn-outline-primary">
      <i class="fa fa-user"></i>New Friend
    </button>
    </div>
</div>